{
    marign:0;
    padding:0;
    box-sizing:border-box;
}
.Join-community{
    height:50vh;
    background-color:white;
    color:rgba(43,179,177,255);
    padding:30px;
    font-family: 'Noto Sans KR', sans-serif;
}
h2{
    color:rgba(43,179,177,255);
}
h3{
    color:rgba(213,230,127,255);
}
span{
    color:#dbdedf;

}

.ms-section{
width:50%;
height:50vh;
font-family: 'Karla', sans-serif;
color:white;
background-color:rgba(43,179,177,255);
float:left;
}
.price1{
    font-size:25px;
    font-family: 'Karla', sans-serif;
    font:bold;
}
.price2{
    font-size:15px;
    color:rgba(89,203,203,255);
    font-family: 'Karla', sans-serif;
}
.wu-section{
    width:50%;
    height:50vh;
    float:right;
    font-family: 'Karla', sans-serif;
    background-color:rgba(73,190,189,255);
    color:azure;

}
.content{
    color:lightblue;
}
button{
    background-color:#bfdf32;
    font-size:12px;
    color:white;
    height: 40px;
    width:250px;
    border-radius:5px;
    cursor: pointer;
   border:none;

}